html {
    font-size: 62.5%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: url('../images/bg-gradient.jpg') repeat-x;
    background-size: 100% 100%;
}
main {
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.left-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-container .information {
    width: 300px
}
.left-container .information h1 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.left-container .information p {
    font-size: 1.5rem;
    font-weight: 400;
}
.right-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-container .form-container {
    width: 340px;
    height: 380px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
}
.right-container .form-container input, .form-container textarea{
    width: 100%;
    height: 35px;
    padding: 10px;
    resize: none;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
}
.right-container .form-container textarea {
    height: 100px;
}
.right-container .form-container span {
    margin-top: -8px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
}
.right-container .form-container input[type="submit"] {
    height: 40px;
    padding: 12px 0;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #3ccc87;
}